.SearchBarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: lightgray;
    position: relative;

}
.InfoContainer{
    display: flex;
    flex-direction: column;
    align-items: space-between;

}
.DropDownContainer{
    width: 250px;
    ;

}
.InputLocation{
    margin: 0 25px;
    width: 200px;
    height: 20px;

}
.CheckBoxFullTime{
    margin: 0 25px;
    margin-top: 15px;
    
}
.SearchButton{
    height: 2rem;
    width: 4rem;
    margin: 0 65px;
    margin-top: 15px
}